.detailActionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  width: 100%;
  max-width: 250px;
}

.quantityRow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

